* {
  box-sizing: border-box;
}

body {
  //   font-family: "Abel", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  //   background: url("../../img/peakpx.jpg") no-repeat $color-1;
  //   background-blend-mode: multiply;
  background-color: $color-1;
  color: $color-4;
}

h1 {
  max-width: 100%;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 5px 5px 3px $color-shadow;

  @include mq("xs") {
    font-size: 3rem;
  }
}

nav h2 {
  font-family: "Abel", sans-serif;
  color: $color-4;
}

.intro {
  color: $color-2;
  text-shadow: 3px 3px 1px $color-shadow;
}

.hidden {
  display: none;
}
